DATABASE_URL=""
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""

NEXT_PUBLIC_WA_NUMBER=""
NEXT_PUBLIC_GA_ID=""
NEXT_PUBLIC_CLARITY_ID=""

UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

SENTRY_DSN=""
NEXT_PUBLIC_SENTRY_DSN=""
